#gameWrapper {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#gameWrapper .gameButton {
    transform: translateY(50px);
}

#gameWrapper:hover .gameButton {
    transform: translateY(0);
}

#game.finished {
    pointer-events: none;
}

.gameGrid{
    --game-columns:3;
    --game-rows:3;
    --game-base-width:90vw;
    --cell-gap:5px;
    --border-angle:0deg;
    display: grid;
    grid-template-columns: repeat(var(--game-columns), 1fr);
    grid-template-rows: repeat(var(--game-rows), 1fr);
    aspect-ratio: 1/1;
    width: 120vw;
    /* position: relative; */
    gap: var(--cell-gap);
    background-image: linear-gradient(var(--border-angle), red, orange);
    animation: anim 5s linear infinite;
    padding: var(--cell-gap);
    transform-origin: center;
}

.gameCell {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #303030;
}

.gameCell:has(svg) {
    pointer-events: none;
}

.gameCell:nth-child(even) {
    background-color:gray;
}

:fullscreen #game {
    width: 100vh;
    height: 100vh;
}

#game svg {
    pointer-events: none;
    position: relative;
    width: 100%;
    height: 100%;
    stroke: black;
    fill: none;
    stroke-width: 10%;
    stroke-linecap: round;
}

#restart {
    padding: 10px;
    position: relative;
    color: white;
    border: none;
    margin: 2vh;
    cursor: pointer;
    --border-width:5%;
}


@keyframes bg-spin {
    from { --border-angle:0deg; }
    to { --border-angle:359deg; }
}