:root {
    --light-grey: #ddd;
    --dark-grey: #202020;
    --bg-angle: 45deg;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

* {
    margin: auto;
}

body {
    font-family: sans-serif;
    color: white;
    height: 100vh;
    background: linear-gradient(var(--bg-angle), black, #202020) fixed;
    height: 100vh;
}

h1 {
    font-size: min(6rem,13vw);
    margin: 50px 0 20px 0;
    text-align: center;
}

h2 {
    margin: 20px;
    font-size: min(3rem, 10vw);
}

h3 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.borderGrad {
    --x:75%;
    --y:50%;
    --border-width: min(1vh, 1vw);
    --border-colors: orange, red, purple, blue;
    margin: 0;
    position: relative;
    transition: all 1s;
    border-radius: 10px;
    background-color: black;
}

.borderGrad::after {
    transition: all ease .4s;
    content: "";
    pointer-events: none;
    position: absolute;
    display:block;
    width: calc(100% + var(--border-width) * 2);
    top: calc(0px - var(--border-width));
    left: calc(0px - var(--border-width));
    height: calc(100% + var(--border-width) * 2);
    z-index: -2;
    border-radius: inherit;
    background: linear-gradient(45deg, var(--border-colors));
    background-position: 0% 100%;
    background-size: 200% 200%;
}

.borderGrad:hover::after {
    background-position: 100% 0%;
}

.flexibleGrid {
    --grid-size:75vw;
    --cell-size:max(150px,min(20vw,300px));
    --column-count:auto-fill;
    display: grid;
    width: fit-content;
    max-width: var(--grid-size);
    grid-template-columns:repeat(var(--column-count), var(--cell-size));
    grid-auto-rows: var(--cell-size);
    gap: max(2vh, 2vw, 20px);
}

#home {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

@media (max-width:576px) {
    .flexibleGrid {
        --cell-size:var(--grid-size);
    }
}