:root {
    --light-grey: #ddd;
    --bg-angle: 45deg;
}

* {
    margin: auto;
}

body {
    font-family: sans-serif;
    color: white;
    height: 100vh;
    background: linear-gradient(var(--bg-angle), black, #202020) fixed;
}

h1 {
    font-size: min(6rem,13vw);
    margin: 20px 0;
    text-align: center;
}

h2 {
    margin: 20px;
    font-size: min(3rem, 10vw);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.borderGrad {
    --border-width: min(1.5%, 1vw);
    --border-colors: orange, red, purple, blue;
    margin: 0;
    transition: all 1s;
    border-radius: 10px;
    background-color: black;
}

.borderGrad::after {
    transition: all ease .4s;
    content: "";
    pointer-events: none;
    position: absolute;
    display:block;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(45deg, var(--border-colors));
    background-position: 0% 100%;
    background-size: 200% 200%;
}

.borderGrad:hover::after {
    background-position: 100% 0%;
}

.flexibleGrid {
    --grid-size:75vw;
    --cell-size:max(150px,20vw);
    --column-count:auto-fill;
    display: grid;
    width: fit-content;
    max-width: var(--grid-size);
    grid-template-columns:repeat(var(--column-count), var(--cell-size));
    grid-auto-rows: var(--cell-size);
    gap: max(2vh, 2vw);
}

.smallScreen .flexibleGrid {
    --cell-size:var(--grid-size);
}

#projects {
    align-items: center;
    justify-content: center;
}