:root {
    --light-grey: #ddd;
    --bg-angle: 45deg;
}

* {
    margin: auto;
    padding: auto;
}

body {
    height: 100vh;
    background: linear-gradient(var(--bg-angle), #000000, #202020) fixed;
}

h1 {
    font-size: 6rem;
    color: white;
    margin: 20px 0;
    text-align: center;
    font-family: sans-serif;
}

.borderGrad {
    margin: 0;
    cursor: pointer;
    transition: all .3s;
    --border-colors: orange, red, purple, blue;
    border-radius: 10px;
    background-color: black;
}

.borderGrad::after {
    transition: all ease .4s;
    content: "";
    pointer-events: none;
    position: relative;
    display: block;
    width: calc(100% + .5vw);
    height: calc(100% + .5vw);
    z-index: -1;
    margin: -.5vw;
    border-radius: inherit;
    background: linear-gradient(var(--bg-angle), var(--border-colors));
    background-position: 0% 100%;
    background-size: 200% 200%;
}

.borderGrad:hover::after {
    background-position: 100% 0%;
}

.borderGrad::before {
    content: attr(t);
    font-family: 'Courier New', Courier, monospace;
}