.mine::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url(./mine.svg) no-repeat;
    background-position: center;
    background-size:contain;
}

.gameCell:not(.hidden) {
    cursor: default;
    background-color: gray;
}

.gameCell:not(.mine)::before {
    content: attr(mines);
    color: red;
    font-size: 5vmax;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.gameCell[mines]::before {
    color: orange;
}

.gameCell[mines="1"]::before {
    color: blue;
}

.gameCell[mines="2"]::before {
    color: purple;
}

.gameCell[mines="3"]::before {
    color: red;
}

.gameCell.hidden {
    background-color: var(--dark-grey);
}

.gameCell.hidden::before {
    display: none;
}

.gameCell.flagged::after {
    content: '';
    width: 90%;
    height: 90%;
    background: url(./flag.svg);
    background-position: center;
    background-size: contain;
    z-index: 2;
}